html, body {
  width: 100%;
  /*width: 1200px;*/
  margin: 0;
  padding: 0;
}


body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
  background-color: #f2f2f2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);

}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before,
[class*="social-"]::before,
[class^="social-"]::before {
  display: inline-block;
  width: 1em;
  /*margin-right: 0.2em;*/
  /*margin-left: 0.2em;*/

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;

  font-size: 19px;
  /*line-height: 21px;*/
  /*vertical-align: middle;*/
  vertical-align: middle;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */




header nav {
  position: relative;
  /*margin: 0 72px;*/
  margin: 0 6%;
  /*width: 100%;*/
  width: 1056px;
  /*box-sizing: border-box;*/
}

nav ul {
  /*position: relative;*/
  /*padding: 15px auto;*/
  display: flex;
  align-items: center;
  min-height: 56px;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  /*padding: 0;*/

}

nav li {
width: 240px;
/*width: 20%;*/
/*padding: 15px auto;*/
/*display: block;*/
/*padding: 15px auto;*/
/*width: 20%;*/
text-align: left;

}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  /*display: block;*/
  /*padding: 15px auto;*/
}

nav a:hover {
  color: #81b3d2;
}

nav a:active {
  color: rgba(0, 0, 0, 0.3);
}
nav .active {
  color: #766357;
}

nav .active:hover {
  color: #604e43;
}

nav .active:active {
  color: rgba(118, 99, 87, 0.3);
}

nav li:nth-child(3),
nav li:nth-child(4){
  text-align: right;
  /*width: 240px;*/
}

nav li:nth-child(2) {
  margin-right: 96px;
}

.logo img {
  position: absolute;
  top: 0;
  left: 459px;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  z-index: 5;
}

.promo-picture {
  width: 1200px;
  height: 510px;
  /*position: relative;*/
  /*background-color: #3881d7;*/
  background-color: #88b7d9;
  background: url("../img/pallet.png") 0 100% no-repeat,
  url("../img/welcome.png") no-repeat 50% 75px,
  url("../img/background photo.jpg") no-repeat;

}

/*.promo-welcome {
  /*position: absolute;*/
  /*width: 458px;*/
  /*height: 352px;*/
  /*width: 1200px;*/
  /*height: 510px;*/
  /*background: url("../img/welcome.png") no-repeat 50% 75px;*/
  /*z-index: 2;*/
  /*top: 0;*/
  /*left: 0;*/
/*}*/

.promo-slogan {
  width: 450px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 30px;
}

.advantage-header h2 {
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.advantage-item, .residence-item {

  /*width: 33%;*/
  width: 400px;
  text-align: center;

}

.advantage-item h3, .residence h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  /*color: #ffffff;*/
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
  width: 38%;
  /*margin: 50px 125px;*/
}

.residence h3 {
  margin-top: 30px;
}

.advantage-item p,
.advantage-item span,
.residence-item p {
  display: block;
  /*font-size: inherit;*/
  width: 73%;
  margin: 20px auto;
  line-height: 21px;
  margin-top: 25px;

}
.advantage-blue {
  color: #ffffff;
  background-color: #81b3d2;
}

.advantage-grey {
  color: #000000;
  background-color: #eeeeee;
}

.advantage {
  display: flex;
  min-height: 256px;
  background-color: #81b3d2;

}

.advantage-picture1 {
  background-color: #88b7d9;
  background: url("../img/advantage1.jpg");
  width: 800px;
  height: 256px;
}

.advantage-picture2 {
  background-color: #88b7d9;

  background: url("../img/advantage2.jpg");
  width: 800px;
  height: 256px;
}

.residence {

  display: flex;
}

.residence-item {
  /*width: auto;*/
  width: 400px;
  min-height: 330px;
}

/*ЗА ТАКОЕ "РУКИ ОТРЫВАТЬ НАДО ВЕРСТАЛЬЩИКАМ"(С)А.ПЕРШИН ПРО ОБЩЕЕ ПРАВИЛО ОБНУЛЕНИЯ
 ТАК ЛИ ЭТО?

h1, h2, h3 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  padding: 0;
  margin: 0;
}

************
*/

.residence .hotels {
  width: 75px;
  height: 72px;
  background: url("../img/spritesheet.png") no-repeat -79px -5px;
  margin: 60px auto;
  margin-bottom: 20px;
}

.residence .souvenirs {

  width: 64px;
  height: 76px;
  background: url("../img/spritesheet.png") no-repeat -5px -5px;
  margin: 60px auto;
  margin-bottom: 20px;
}

.residence .food {
  width: 74px;
  height: 70px;
  background: url("../img/spritesheet.png") no-repeat -79px -87px;
  margin: 60px auto;
  margin-bottom: 20px;
}

.variety {
  text-align: center;
}

.variety h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  margin: 55px auto;
  margin-bottom: 30px;

}

.variety p {
  font-size: 14px;
  line-height: 24px;
  /*width: 450px;*/

}

.variety .search {
  position: relative;
  width: 570px;
  min-height: 56px;
  /*height: 56px;*/
  /*color: #ffffff;*/
  background-color: #766357;

  padding-top: 30px;
  margin: 50px auto;
  margin-bottom: 0;
}

.variety a {
  text-decoration: none;
  color: #ffffff;

  width: 570px;
  min-height: 56px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-align: center;
  /*padding-top: 30px;*/
  display: block;
  /*margin-top: 30px;*/
}


.map {
  width: 1200px;
  height: 593px;
  background-color: #f2f1ef;
  background: url("../img/map.jpg") no-repeat;

}

footer {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-index {

  position: absolute;
  bottom: 0;
  z-index: 101;
  background-color: rgba(255, 255, 255, 0.9);
}

.hashtag {
  width: 400px;
  margin-right: 0;


}
.hashtag a {
  display: block;
  /*width: 400px;*/
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  /*margin-top: 47px;*/
  text-align: center;
}
.social {
  width: 400px;

}

.social-block {
  margin: 0 auto;
  display: flex;
  width: 151px;
  justify-content: space-between;

  font-family: "symbols-sedona";
  font-size: 19px;
  line-height: 45px;
}

.social a {
  /*position: relative;*/
  display: block;
  width: 45px;
  height: 45px;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

.social a:hover {
  background-color: #669ec0;
}

.social a:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}


.social-twitter::before {
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  /*display: block;*/
  /*width: 17px;*/
  /*height: 15px;*/
  /*background: url("../img/spritesheet.png") no-repeat -220px -149px;*/
  content: "\74";
}

.social-facebook::before {
  content: "\66";
}


.social-youtube::before {
  content: "\f39e";
}

.development {
  width: 400px;
  text-align: center;
}

.development a {
  /*display: block;*/
  /*width: 113px;*/
  /*height: 39px;*/
  /*background: url("../img/spritesheet.png") no-repeat -5px -167px;*/
  text-decoration: none;
  color: #000000;
}


.development span {
  display: inline-flex;
  /*margin-right: 10px;*/
}


.logo-htmlacademy {
  background: url("../img/spritesheet.png") no-repeat -5px -167px;
  width: 113px;
  height: 39px;
  margin-left: 10px;
}

.link-htmlacademy:hover .logo-htmlacademy {
  background: url("../img/spritesheet.png") no-repeat -227px -54px;
  width: 113px;
  height: 39px;
  margin-left: 10px;

}

.link-htmlacademy:active .logo-htmlacademy {

  background: url("../img/spritesheet.png") no-repeat -227px -5px;
  width: 113px;
  height: 39px;
  margin-left: 10px;
}



/*.development span::after {*/
  /*background: url("../img/spritesheet.png") no-repeat -5px -167px;*/
  /*width: 113px;*/
  /*height: 39px;*/
/*}*/

.modal-search form {
  /*display: none;*/
  position: absolute;
  /*bottom: 593px;*/
  top: 86px;
  width: 460px;
  min-height: 285px;
  padding: 55px;
  background: #ffffff;
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);

}

.modal-search .button {
  /*margin: 55px 0;*/
  margin-top: 25px;
  display: block;
  width: 460px;
  height: 60px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  background: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  /*outline: none;*/
}

.modal-search .button:hover {
  background-color: #669ec0;
}

.modal-search .button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.modal-search .proposal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.proposal div {
  width: 460px;
  margin-bottom: 30px;

  text-align: left;

  text-transform: uppercase;
  font-weight: bold;

  display: flex;
  justify-content: space-between;
}

.proposal .adults {
  width: 230px;
}

.proposal .kids {
  width: 180px;
}

.arrival input,
.departure input {
  position: relative;
  width: 335px;
  height: 38px;
  background: #f2f2f2;
  outline: none;

  text-transform: uppercase;
  color: #000000;
  padding: 0;
  padding-left: 10px;

  border: none;
}

.proposal label {
  position: relative;
  padding-top: 6px;
}

.proposal[type="placeholder"] {
  color: #000000;
  font-size: 14px;
  line-height: 26px;
  padding-top: 6px;
}

.proposal input[type="placeholder"] {
  color: #000000;
}

.proposal input:hover {
  background: #ebebeb;
}

.proposal input:active {
  background: #ffffff;
  border-top: 2px solid #e5e5e5;
  box-sizing: border-box;
}

span.calendar::before {
  position: absolute;
  top: 6px;
  left: 430px;
  z-index: 9;
  /*right: -230px;*/
  display: inline-flex;
  width: 21px;
  height: 22px;
  content: "\e800";
  font-family: "symbols-sedona";

  color: #c2c2c2;
  font-size: 21px;
  /*line-height: 26px;*/
  font-weight: normal;
  vertical-align: middle;

}

.adults input,
.kids input {
  width: 60px;
  height: 38px;
  background: #f2f2f2;
  outline: none;
  border: none;
  padding: 0;
  padding-left: 54px;
}

.kids label,
.adults label {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.sign {
  position: absolute;
  top: 0;
  /*content: "\e802";*/
  /*display: block;*/
  display: inline-flex;
  width: 38px;
  height: 38px;
  font-family: "symbols-sedona";
  font-size: 14px;
  line-height: 38px;
  font-weight: normal;
  vertical-align: middle;
  text-align: center;
  color: #a9a9a9;
}

.sign:hover,
.calendar:hover {
  color: #000000;
}

.sign:active,
.calendar:active {
  color: #81b3d2;
}

.minus-adults::before {
  position: absolute;
  left: 130px;
  content: "\e802";
  /*z-index: 11;*/
}

.plus-adults::before {
  position: absolute;
  left: 205px;
  content: "\e801";
  /*z-index: 11;*/
}


.minus-kids::before {
  position: absolute;
  left: 80px;
  content: "\e802";
  /*z-index: 11;*/
}

.plus-kids::before {
  position: absolute;
  left: 155px;
  content: "\e801";
  /*z-index: 11;*/
}
/*---------------------------------------------------------*/

.sprite-twitter {
    width: 17px;
    height: 15px;
    background-position: -220px -149px;
}

.sprite-twitter-down {
    width: 17px;
    height: 15px;
    background-position: -247px -149px;
}

.sprite-ytube {
    width: 20px;
    height: 16px;
    background-position: -274px -149px;
}

.sprite-ytube-down {
    width: 20px;
    height: 16px;
    background-position: -304px -149px;
}
    .sprite-fb {
        width: 10px;
        height: 19px;
        background-position: -199px -109px;
    }

    .sprite-fb-down {
        width: 10px;
        height: 19px;
        background-position: -219px -109px;
    }

/*--------------------HOTELS-------------------------------------------------------*/
.filter {
width: 1200px;
min-height: 220px;
background-color: #477495;
background: url("../img/filter background min.jpg") no-repeat;
display: flex;
color: #ffffff;
}

.filter form {
  display: flex;
  min-height: 160px;
  align-self: center;
  margin: 0 72px;

}


.filter label {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.range-filter {
  width: 328px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  font-size: 0;
}

.price-controls::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 22px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.price-controls label {

  display: inline-block;
  vertical-align: top;
  line-height: 36px;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 64px;

}

.price-controls input {
  width: 50px;

  margin: 0;
  color: inherit;
  font: inherit;

  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;

}

.range-controls .scale {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-controls .toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.toggle-min {
  left: 0;
}

.toggle-max {
  left: 80%;
}

.toggle:hover {
  background: #1c4f80;
}

.filter button {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.filter button:hover {
  background-color: #ffffff;
  color: #000000;
}



.filter h2 {
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 10px;
}




.filter .infrastructure {
  display: flex;
  flex-direction: column;
  width: 254px;

}

.filter .hotel-type {
  display: flex;
  flex-direction: column;
  width: 254px;

}

.filter .price {
  padding-left: 220px;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  margin: 10px 0;
  line-height: 21px;
  padding-left: 45px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  font-family: "symbols-sedona";
  content: "\2610";
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  font-size: 26px;

}


input[type="checkbox"]:checked + label::before {
  content: "\2611";

}

input[type="checkbox"]:disabled + label::before {
  color: #6a6a6a;
}

.hotels article {
  display: flex;
  align-items: center;
  padding: 30px 72px;
  border-bottom: 1px solid #e5e5e5;
}

.sorting {
  display: flex;
  align-items: center;
  padding: 7px 72px;
  border-bottom: 1px solid #e5e5e5;
}


.sorting-type {
  font-size: 12px;
  line-height: 18px;

}

.sorting-type ul {
  display: flex;
  list-style-type: none;

}

.sorting-type li {
  margin-right: 30px;
}

.sorting-type a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted;
}

.sorting-type a:hover {
  color: #81b3d2;
}

.sorting-type a:active {
  color: #000000;
  border-bottom: none;
}
.sorting-type .active {

  color: #81b3d2;
  border-bottom: none;
}

.hotels img {
  margin-right: 30px;
}

.result {
  width: 165px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sorting-type,
.hotel-info {
  width: 782px;
}

.sorting-type {

  display: inline-flex;
  align-items: center;
}

.sorting-type span {
  width: 115px;
}

ul {
  padding-left: 0;
}

.up-down ul {
  list-style-type: none;
  width: 110px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  font-size: 23px;
}

.up-down .icon-up-dir,
.up-down .icon-down-dir {
  font-family: "symbols-sedona";

  font-size: 23px;
}

.up-down span {
  font-family: "symbols-sedona";
  font-size: 23px;
  line-height: 23px;
  width: 23px;
  height: 23px;

}

.up-down a {
  color: rgba(0, 0, 0, 0.3);
}

.up-down a:hover {
  color: #000000;
}

.up-down a:active,
.up-down .active {
  color: #81b3d2;
}

article h1 {

  font-size: 21px;
  line-height: 21px;
  margin-bottom: 9px;
  margin-top: 0;
  font-weight: bold;
  /*color: #000000;*/
}

.hotels a {
  text-decoration: none;
  color: #000000;
}

.hotels a:hover {
  color: #81b3d2;
}

.hotels a:active {
  color: rgba(0, 0, 0, 0.3);
}

.details-hotel-info {
  display: flex;
  min-height: 60px;
}

.left-hotel-info {
  width: 110px;
  margin-right: 7px;
  /*min-height: 60px;*/
}

.right-hotel-info {

  width: 143px;
}

.hotels .details {
  display: block;
  background-color: #81b3d2;
  color: #ffffff;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  margin-top: 8px;
}

.hotels .details:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.hotels .details:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);

}

.hotels .reserve {
  display: block;
  background-color: #766357;
  color: #ffffff;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  margin-top: 8px;

}

.hotels .reserve:hover {
  background-color: #604e43;
  color: #ffffff;
}

.hotels .reserve:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);

}


.rating {
  width: 110px;
  height: 90px;
}
.stars {
  text-align: right;
  line-height: 1em;
  margin-bottom: 43px;
  color: #81b3d2;
}

.icon-star {
  /*display: inline-flex;*/
  /*background: url("../img/spritesheet.png") no-repeat -193px -149px;*/
  /*width: 17px;*/
  /*height: 17px;*/
  /*margin-left: 5px;*/
}

.rating-index {
  display: block;
  width: 110px;
  height: 28px;
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
  line-height: 28px;

}
